<a href="https://colab.research.google.com/github/kimhalyn/OPEN-API/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리
# colab에 xmltodict 라이브러리가 기본 설치되지 않으므로 별도 설치(외부 라이브러리)
!pip install xmltodict 
from urllib.request import urlopen
from urllib.parse import urlencode, unquote, quote_plus
from bs4 import BeautifulSoup
import pandas as pd
import requests, xmltodict, json

Collecting xmltodict
  Downloading xmltodict-0.12.0-py2.py3-none-any.whl (9.2 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.12.0

In [31]:
# 판다스로 csv 파일 불러오기_iloc 사용
data = pd.read_csv('/content/drive/MyDrive/water_resource_csv/damCode.csv')

# 필요한 행,열만 추출
damcode = data.iloc[0:5,1]
#damcode = data.iloc[27,1]
for code in damcode:
  print(code)

2403201
2011602
1007601
3012601
1001210

In [ ]:
#디코드
tMF2MGGUmsNNPf15Nr91%2BUA4YVQiWXVjLS7R0odxGSR0yfNjcHFkdRpCT6hXbILlBP1T%2BTnDJYz1kkDjiaIiQg==

In [39]:
# 우량 관측소 코드 조회(3차_새 코드)
import requests, bs4
import pandas as pd
from lxml import html
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus, unquote
from time import sleep
import csv

url = 'http://opendata.kwater.or.kr/openapi-data/service/pubd/dam/excllncobsrvt/excll/list'
key = 'jkd4PnVjssNP+g2WeRzs8lgc4SOelLsncvuMr81/9R9nSYKkiQAcb2xt8GTYgTJSQGQ4+htuRuyIXSwRXr210w=='

# 댐코드 불러오기
data = pd.read_csv('/content/drive/MyDrive/water_resource_csv/damCode.csv')

# 필요한 코드 조회
damcode = data.iloc[0:5,1]

dam = [] 
for code in damcode:

  Params = '?' + urlencode({quote_plus('ServiceKey') : key,
                                quote_plus('damcode') : code})
  
  print(Params)
  
  res = requests.get(url + Params).text.encode('utf-8') # 요청에 대한 응답내용(.encode빼기도 함)
  sleep(0.5)
  print(res) 
  
  xmlobj = bs4.BeautifulSoup(res, 'lxml') #lxml 파서(구문분석)  'lxml-xml'
  print(xmlobj)
  
  #item 태그 분리
  rows = xmlobj.findAll('item') # 매치되는 문자열을 리스트로 리턴
  print(rows)

  # 반복문
  rowList = []
  nameList = []
  columnList = []

  rowsLen = len(rows)
  
  for i in range(0, rowsLen):

    columns = rows[i].find_all()
    
    columnsLen = len(columns)
    for j in range(0, columnsLen):      

      if i == 0:
        nameList.append(columns[j].name) # 칼럼명
      eachColumn = columns[j].text # 칼럼값
      columnList.append(eachColumn)
    rowList.append(columnList)
    columnList = []

  result = pd.DataFrame(rowList, columns=nameList)
  dam.append(result) #댐코드별 값 
  dam

# csv파일로 저장
#with open('excll_code.csv','w') as file :
  #write = csv.writer(file)

?ServiceKey=jkd4PnVjssNP%2Bg2WeRzs8lgc4SOelLsncvuMr81%2F9R9nSYKkiQAcb2xt8GTYgTJSQGQ4%2BhtuRuyIXSwRXr210w%3D%3D&damcode=2403201
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><excllncobsrvtcode>9000232</excllncobsrvtcode><obsrvtNm>\xea\xb2\xbd\xec\xa3\xbc\xec\x8b\x9c(\xea\xb0\x90\xed\x8f\xac\xeb\x8c\x90)</obsrvtNm></item></items></body></response>'
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><html><body><response><header><resultcode>00</resultcode><resultmsg>NORMAL SERVICE.</resultmsg></header><items><item><excllncobsrvtcode>9000232</excllncobsrvtcode><obsrvtnm>경주시(감포댐)</obsrvtnm></item></items></response></body></html>
[<item><excllncobsrvtcode>9000232</excllncobsrvtcode><obsrvtnm>경주시(감포댐)</obsrvtnm></item>]
?ServiceKey=jkd4PnVjssNP%2Bg2WeRzs8lgc4SOelLsncvuMr81%2F9R9nSYKkiQAcb2xt8GTYgTJSQGQ4%2BhtuRuyIXSwRXr210w%3D%3D&damcode=2011602
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items/></body></response>'
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><html><body><response><header><resultcode>00</resultcode><resultmsg>NORMAL SERVICE.</resultmsg></header><items></items></response></body></html>
[]
?ServiceKey=jkd4PnVjssNP%2Bg2WeRzs8lgc4SOelLsncvuMr81%2F9R9nSYKkiQAcb2xt8GTYgTJSQGQ4%2BhtuRuyIXSwRXr210w%3D%3D&damcode=1007601
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items/></body></response>'
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><html><body><response><header><resultcode>00</resultcode><resultmsg>NORMAL SERVICE.</resultmsg></header><items></items></response></body></html>
[]
?ServiceKey=jkd4PnVjssNP%2Bg2WeRzs8lgc4SOelLsncvuMr81%2F9R9nSYKkiQAcb2xt8GTYgTJSQGQ4%2BhtuRuyIXSwRXr210w%3D%3D&damcode=3012601
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items/></body></response>'
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><html><body><response><header><resultcode>00</resultcode><resultmsg>NORMAL SERVICE.</resultmsg></header><items></items></response></body></html>
[]
?ServiceKey=jkd4PnVjssNP%2Bg2WeRzs8lgc4SOelLsncvuMr81%2F9R9nSYKkiQAcb2xt8GTYgTJSQGQ4%2BhtuRuyIXSwRXr210w%3D%3D&damcode=1001210
b'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><excllncobsrvtcode>9000040</excllncobsrvtcode><obsrvtNm>\xec\x82\xbc\xec\xb2\x99\xec\x8b\x9c(\xea\xb4\x91\xeb\x8f\x99\xeb\x8c\x90)</obsrvtNm></item><item><excllncobsrvtcode>1001452</excllncobsrvtcode><obsrvtNm>\xed\x83\x9c\xeb\xb0\xb1\xec\x8b\x9c(\xec\x83\x81\xec\x82\xac\xeb\xaf\xb8\xeb\x8f\x99)</obsrvtNm></item></items></body></response>'
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><html><body><response><header><resultcode>00</resultcode><resultmsg>NORMAL SERVICE.</resultmsg></header><items><item><excllncobsrvtcode>9000040</excllncobsrvtcode><obsrvtnm>삼척시(광동댐)</obsrvtnm></item><item><excllncobsrvtcode>1001452</excllncobsrvtcode><obsrvtnm>태백시(상사미동)</obsrvtnm></item></items></response></body></html>
[<item><excllncobsrvtcode>9000040</excllncobsrvtcode><obsrvtnm>삼척시(광동댐)</obsrvtnm></item>, <item><excllncobsrvtcode>1001452</excllncobsrvtcode><obsrvtnm>태백시(상사미동)</obsrvtnm></item>]

In [46]:
dam
#type(dam)

[  excllncobsrvtcode  obsrvtnm
 0           9000232  경주시(감포댐), Empty DataFrame
 Columns: []
 Index: [], Empty DataFrame
 Columns: []
 Index: [], Empty DataFrame
 Columns: []
 Index: [],   excllncobsrvtcode   obsrvtnm
 0           9000040   삼척시(광동댐)
 1           1001452  태백시(상사미동)]

In [50]:
# csv 모듈 import하기 
import csv 

# list 만들기 

# csv파일로 적기 
# newline 설정을 안하면 한줄마다 공백있는 줄이 생긴다.
with open('excll_2.csv', 'w', newline='', encoding='utf-8-sig') as f:
  writer = csv.writer(f)
  writer.writerow(dam)

In [54]:
print(result)
type(result)

sam = pd.DataFrame(result)
sam.to_csv("result.csv", encoding='utf-8-sig')

  excllncobsrvtcode   obsrvtnm
0           9000040   삼척시(광동댐)
1           1001452  태백시(상사미동)

In [56]:
#리스트 데이터프레임화
damFrame = pd.DataFrame(dam)
damFrame

/usr/local/lib/python3.7/dist-packages/pandas/core/internals/construction.py:305: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  values = np.array([convert(v) for v in values])

                                                   0
0    excllncobsrvtcode  obsrvtnm
0           9000...
1              Empty DataFrame
Columns: []
Index: []
2              Empty DataFrame
Columns: []
Index: []
3              Empty DataFrame
Columns: []
Index: []
4    excllncobsrvtcode   obsrvtnm
0           900...